html {
    background-image: url(/images/bats.gif);
}

/* Style for header */
header {
    border-bottom: 1px solid black;
    background: linear-gradient(45deg, white 0%, orange 50%, black 80%);
    background: -webkit-linear-gradient(45deg, white 0%, orange 50%, black 100%);
}

header {
    border-bottom: 1px solid black;
    padding: 5px;
}

.pumpkin-img img {
    float: left;
    margin-right: 10px;
    width: 12%;
    margin-top: 15px;
    margin-left: 15px;
}

.header-text {
    display: inline-block;
}

.header-text h1 h2 {
    color: black;
    font-style: italic;
    text-shadow: 1px 1px black;
    margin-left: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

.header-text h1 {
    font-size: 29px;
    margin-bottom: 0px;
}

.header-text h2 {
    font-size: 20px;
    margin-left: 4px;
    margin-bottom: 20px;
    margin-top: 3px;
}

h1:first-letter {
    font-size: 1.5em;
}

/* Style for footer */
footer {
    border-top: 1px solid black;
    background: linear-gradient(45deg, black 0%, orange 50%, white 80%);
    background: -webkit-linear-gradient(45deg, black 0%, orange 50%, white 100%);
}

footer {
    padding: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

/* style for body section */
body {
    width: 800px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.888);
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 0.5em;
    font-family: sans-serif;
}

/* style for navbar*/

.navbar .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    align-content: space-evenly;
}

.navbar .flex-container div {
    width: auto;
    padding: 9px;
    text-align: center;
}

.navbar .flex-container a {
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar .flex-container div:hover {
    background-color: lightgray;
}

.navbar .flex-container a:hover {
    color: orange;
}

/* style for aside */

.aside .flex-container {
    display: flex;
    justify-content: flex-end;
    align-content: space-evenly;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-left: 25px;
}

.aside .flex-container div {
    border: 1px solid black;
    background-color: orange;
    width: 90px;
    height: 25px;
    margin-top: 0px;
    padding: 3px;
    text-align: center;
}

.aside .flex-container a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    align-items: center;
    font-weight: bold;
}

/* style for left and right side section */
.aside .flex-container .left_item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 10px;
}

.aside .flex-container .right_item {
    margin-right: 8%;
    margin-top: 5%;
}

.aside .flex-container .right_item div {
    margin-bottom: 10%;
    align-items: center;
}

h3 {
    font-size: 25px;
    color: black;
    margin-bottom: 0px;
}

h4 {
    color: orange;
    font-size: 20px;
    margin-bottom: 0px;
}

p {
    color: black;
    font-size: 15px;
    margin-bottom: 5px;
    margin-right: 50px;
}

@media only screen and (max-width: 479px) {
    h1 {
        font-size: 10px;
    }

    h2 {
        font-size: 10px;
        margin-left: 4px;
    }

    h3 {
        font-size: 2100px;
        margin-top: 19px;
        margin-bottom: 20px;
    }
}